/.gitignore
/.eslintrc.json
/.eslintignore
/node_modules/
/src/
/.prettierignore
/.vscode/
/prettier.config.js
/tsconfig.json
/yarn.lock
/.github/
/.next/
/public/
/next-env.d.ts
/postcss.config.js
/tsconfig.build-cjs.json
/tsconfig.build-esm.json
/tailwind.config.js
/*.tgz
